.colorLine {
  height: 0.5rem;
  background: rgb(255, 121, 121);
  background: radial-gradient(
    circle,
    rgba(255, 121, 121, 1) 0%,
    rgba(249, 246, 184, 1) 100%
  );
}

.frostedNav {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.26);
  border-radius: 32px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.titleHome {
  font-size: 3.5rem;
}
.subtitle {
  font-size: 2rem;
}

.title {
  font-size: 4rem;
}

.divPlaceHolder {
  height: 20rem;
  width: 105rem;
}

.textLink {
  background: radial-gradient(
    circle,
    rgba(255, 121, 121, 1) 0%,
    rgb(255, 191, 87) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}
